<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th align="center"><center>Statements</center></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><center><%= statement.content %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Add a New Statement', new_statement_path %>
