<!DOCTYPE html>
<html>
<head>
  <title>Shiz Said in IT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <center><h1>Shiz Said in IT</h1>
    <br/><br/><br/>
    <%= yield %>
    </center>
</div>


</body>
</html>
